/* ELEMENTS */
body {
  background-color: #9cb4cc;
  color: #2e2e2e;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 0 5%;
}

/* BUTTON */
button {
  border-radius: 25%;
  border-color: #9cb4cc;
  background-color: #d3d9df;
  padding: 0.5rem;
  color: #2e2e2e;
  margin-top: 2.5rem;
}

button:focus {
  color: #2e2e2e;
  border-color: #9cb4cc;
  background-color: #d3d9df;
}

button:hover {
  cursor: pointer;
  background-color: #2e2e2e;
  color: #9cb4cc;
}

.icon {
  font-size: 1.4rem;
}

/* CONTAINER */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADINGS */
.heading {
  color: #293461;
  font-family: "Black Ops One", cursive;
  font-size: 6rem;
  margin-bottom: 3rem;
}

.subHeading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* DIVS */
.playerOne,
.playerTwo {
  display: inline-block;
  padding: 0 5rem;
}

.playerOne img,
.playerTwo img {
  width: 13rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  body {
    padding: 5% 2.5%;
  }
  .heading {
    padding-bottom: 2%;
  }
}

@media (max-width: 920px) {
  html {
    font-size: 12px;
  }
  body {
    padding: 15% 2.5%;
  }
  .heading {
    font-size: 5rem;
    padding-bottom: 4%;
  }
  .playerOne img,
  .playerTwo img {
    width: 13rem;
  }
}

@media (max-width: 670px) {
  html {
    font-size: 10px;
  }
  body {
    padding: 20% 0%;
  }
  .heading {
    padding-bottom: 5%;
  }
  .subHeading {
    font-size: 1.75rem;
  }
  .playerOne ,
  .playerTwo  {
    padding: 2rem;
  }  
  .playerOne img,
  .playerTwo img {
    width: 12rem;
  }
}
